<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/home">SIMON</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>Présentation<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/cv" class="nav-link waves-light" mdbWavesEffect>Mon CV</a>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                
                <a dropdownToggle routerLink="/projects" mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Projets<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a routerLink="/projects/web" class="dropdown-item waves-light" mdbWavesEffect href="#">Web</a>
                    <a routerLink="/projects/android" class="dropdown-item waves-light" mdbWavesEffect href="#">Android</a>
                    <a routerLink="/projects/games" class="dropdown-item waves-light" mdbWavesEffect href="#">Jeux</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->