<div class="container">

        <!-- Section: Blog v.1 -->
        <section class="my-5">
        
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-5">Site vitrine</h2>
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto mb-5">Pour présenter mes projets publiquement, j'ai décidé de réaliser un site vitrine...</p>
          
            <!-- Grid row -->
            <div class="row">
              
              <!-- Grid column -->
              <div class="col-lg-7">
        
                <!-- Category -->
                <a href="#!" class="pink-text">
                  <h6 class="font-weight-bold mb-3"><i class="fas fa-question"></i> Présentation</h6>
                </a>
                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>Motivations</strong></h3>
                <!-- Excerpt -->
                <p class="text-justify">A quelques semaines d'obtenir mon diplôme d'ingénieur, j'ai pris du recul sur les projets que j'avais achevés durant l'année. Il est vrai qu'en plus des expériences professionnelles, les projets personnels sont très importants pour mettre en avant les compétences qu'on a acquises et sa motivation. Sur mon CV j'avais bien-sûr la possibilité de synthétiser ces projets, ainsi que les raisons qui m'ont poussé à les faire, mais je trouvais frustrant le fait de ne pas pouvoir expliquer pleinement et en détail ce que j'avais le plus apprécié, ou les difficultés que j'avais rencontrées. Voilà pourquoi il me fallait créer ce site vitrine.</p>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-lg-5">
        
                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                  <img class="img-fluid" src="../../../../assets/img/projects/junglejump3.png" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
            
            <hr class="my-5">
        
            <!-- Grid row -->
            <div class="row">
          
              <!-- Grid column -->
              <div class="col-lg-5">
          
                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                  <img class="img-fluid" src="../../../../assets/img/projects/web/angular-bootstrap-logo.png" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
          
              </div>
              <!-- Grid column -->
          
              <!-- Grid column -->
              <div class="col-lg-7">
          
                <!-- Category -->
                <a href="#!" class="green-text">
                  
                  <h6 class="font-weight-bold mb-3"><i class="fas fa-wrench"></i> Technologies</h6>
                </a>
                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>Angular & Bootstrap</strong></h3>
                <!-- Excerpt -->
                <p class="text-justify">J'ai passé ma cinquième année d'école en alternance dans une Entreprise de Services Numériques (ESN), et pour me joindre à un des projets j'ai du me former sur la technologie Angular. Ce framework est de plus en plus connu et réputé pour sa simplicité de mise en pratique et pour la rapidité d'obtention d'un site web fonctionnel. Couplé au framework Bootstrap, qui facilité infiniement la mise en page des éléments du site, c'était un réel plaisir de créer de toutes pièces les éléments de ce dernier. Je me suis aussi inspiré d'éléments proposés par Material Design Bootstrap (MDB) pour les tâches qui m'étaient inconnues, telles que la barre de navigation, ou encore les cartes de présentation de mes projets.</p>
          
              </div>
              <!-- Grid column -->
          
            </div>
            <!-- Grid row --> 
          
            <hr class="my-5">
          
            <!-- Grid row -->
            <div class="row">
           
              <!-- Grid column -->
              <div class="col-lg-7">
          
                <!-- Category -->
                <a href="#!" class="indigo-text">
                  <h6 class="font-weight-bold mb-3"><i class="fas fa-cog"></i> Hébergement</h6>
                </a>
                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>Derrière le site</strong></h3>
                <!-- Excerpt -->
                <p class="text-justify">Parallèlement à mon site web, je créais des jeux avec le moteur Unity, et entre autres des jeux multijoueurs en réseau. Pour héberger les serveurs de ces jeux, j'ai obtenu une carte Raspberry Pi 3. J'ai décidé de m'en servire pour héberger ce site aussi ! Pour cela j'ai installé un serveur Apache 2, qui permet d'exposer n'importe quelle application web rapidement. Afin de proposer publiquement un accès au dit site, j'ai acheté un nom de domaine sur OVH : <i>mimon.fr</i>. Et maintenant vous voilà.</p>
          
              </div>
              <!-- Grid column -->
              
              <!-- Grid column -->
              <div class="col-lg-5">
              
                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                  <img class="img-fluid" src="../../../../assets/img/projects/web/vs-vode-web.png" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
          
          </section>
          <!-- Section: Blog v.1 -->
        
        </div>