<div class="container">
    </div>
    
    <div class="container">
    
        <section class="section text-center">
    
            <h2 class="font-weight-bold h1 mt-3 mb-3">Web</h2>
            <p>Les technologies web devienent un incontournable pour tout développeur. Par change c'est un domaine qui me plait beaucoup. J'ai alors tenté ma chance en me servant du site web sur lequel vous vous trouvez pour m'entraîner.</p>
    
            <div class="row">
    
                <!-- premier site -->
                <div class="col-md-4">
                    <!-- Card -->
                    <mdb-card>
                        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                            <!-- Card img -->
                            <mdb-card-img src="../../../assets/img/projects/web/site-vitrine.jpg" alt="Site vitrine image">
                            </mdb-card-img>
                            <a routerLink="/projects/web/vitrine">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--Card content-->
                        <mdb-card-body>
                            <!--Title-->
                            <mdb-card-title>
                                <h4>Site vitrine</h4>
                            </mdb-card-title>
    
                            <!--Text-->
                            <mdb-card-text>
                                Pour présenter mes projets publiquement, j'ai décidé de réaliser un site vitrine...
                            </mdb-card-text>
    
                            <a routerLink="/projects/web/vitrine" mdbBtn color="primary" mdbWavesEffect>Plus !</a>
                        </mdb-card-body>
                    </mdb-card>
                    <!-- Card -->
                </div>
    
            </div>
    
        </section>
    </div>