<div class="container">

<!-- Section: Blog v.1 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Jungle Jump</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Dans le cadre d'un stage dans un studio indépendant belge, j'ai développé ce jeu Android...</p>
  
    <!-- Grid row -->
    <div class="row">
      
      <!-- Grid column -->
      <div class="col-lg-7">

        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-question"></i> Présentation</h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Studio Frosty Froggs</strong></h3>
        <!-- Excerpt -->
        <p class="text-justify">En Juin 2018 je suis parti en stage à Bruxelles, Belgique, pour un stage de trois mois. J'ai été accueilli dans le studio de jeux Frosty Froggs, créé par trois amis en 2015. Il est constitué aujourd'hui d'un Artiste 3D, d'un Game Designer et d'un Développeur. Durant la durée de mon stage, le Développeur était en mission pour une entreprise externe, ce qui m'a poussé au statut de seul Développeur dans le studio. Nous sommes parti d'un prototype de jeu qu'ils avaient réalisé quelques mois auparavant et avons décidé d'en faire un jeu Android à part entière !</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="../../../../assets/img/projects/junglejump3.png" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
    
    <hr class="my-5">

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="../../../../assets/img/projects/junglejump1.png" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <a href="#!" class="green-text">
          
          <h6 class="font-weight-bold mb-3"><i class="fas fa-wrench"></i> Technologies</h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Unity 3D</strong></h3>
        <!-- Excerpt -->
        <p class="text-justify">Le studio utilisait Unity 3D pour presque tous ses jeux (ils faisaient quelques expérimentations avec Unreal Engine). Le prototype ayant été commencé en C#, c'est dans ce langage que j'ai écrit tous les scripts gérant les interactions avec le joueur, la navigation entre les menus, les méchaniques de gameplay et les règles de difficulté. Au final, après modifications et ajouts, il ne restait du code du prototype pas plus de 5%.</p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row --> 
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
   
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <a href="#!" class="indigo-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-cog"></i> Réalisation</h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Les coulisses du jeu</strong></h3>
        <!-- Excerpt -->
        <p class="text-justify">Le travail d'équipe. La petite taille du studio en faisait l'endroit idéal pour apprendre toutes les ficelles de la création d'un jeu vidéo. J'ai pu poser toutes les questions que j'avais, et même m'essayer à la modélisation 3D avec l'aide de l'Artiste ! Nous fonctionnions en triangle ; le Game Designer récupérait les modèles et décors auprès de l'Artiste, puis me commandait des scripts pour les animer, les faire interagir, etc... puis il mettait en place le tout dans la scène du moteur de jeux. Il était très satisfaisant de voir notre jeu prendre vie jour après jour. Il est à présent en phase d'alpha testing sur le Play Store.</p>
  
      </div>
      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col-lg-5">
      
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="../../../../assets/img/projects/junglejump2.png" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.1 -->

</div>