<div class="container">
</div>

<div class="container">

    <section class="section text-center">

        <h2 class="font-weight-bold h1 mt-3 mb-3">Jeux</h2>
        <p>Voici la liste des jeux vidéos et projets que j'ai créés sur Unity 3D.</p>

        <div class="row">

            <!-- premier jeu -->
            <div class="col-md-4">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/img/projects/junglejump2.png" alt="Jungle Jump image">
                        </mdb-card-img>
                        <a routerLink="/projects/games/junglejump">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Jungle Jump</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text>
                            Dans le cadre d'un stage dans un studio indépendant belge, j'ai développé ce jeu Android...
                        </mdb-card-text>

                        <a routerLink="/projects/games/junglejump" mdbBtn color="primary" mdbWavesEffect>Plus !</a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>

        </div>

    </section>
</div>