<div class="container">
    <h1>Jeux</h1>
    <p>Voici la liste des jeux vidéos et projets que j'ai créés sur Unity 3D.</p>
</div>

<div class="container">
    <div class="row">
        
        <!-- premier jeu -->
        <div class="col-md-4">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="../../../assets/img/projects/junglejump0.png" alt="Jungle Jump image"></mdb-card-img>
                <a>
                    <div class="mask"></div>
                </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4>Jungle Jump</h4>
                </mdb-card-title>
            
                <!--Text-->
                <mdb-card-text>
                    Dans le cadre d'un stage dans un studio indépendant belge, j'ai développé ce jeu Android...
                </mdb-card-text>
            
                <a href="#" mdbBtn color="primary" mdbWavesEffect>Plus !</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

        <!-- deuxième jeu -->
        <div class="col-md-4">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
                <a>
                    <div class="mask"></div>
                </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4>Card Title</h4>
                </mdb-card-title>
            
                <!--Text-->
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </mdb-card-text>
            
                <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

        <!-- troisième jeu -->
        <div class="col-md-4">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
                <a>
                    <div class="mask"></div>
                </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                    <h4>Card Title</h4>
                </mdb-card-title>
            
                <!--Text-->
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </mdb-card-text>
            
                <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

    </div>
</div>